BSKY_IMAGE=ghcr.io/18nover/onlymen-bsky:production
BSKY_INDEXER_IMAGE=ghcr.io/18nover/onlymen-bsky-indexer:production
OZONE_IMAGE=ghcr.io/18nover/onlymen-ozone:production
BSYNC_IMAGE=ghcr.io/18nover/onlymen-bsync:production
BSKY_ENV_FILE=/srv/onlymen/appview/bsky.env
OZONE_ENV_FILE=/srv/onlymen/appview/ozone.env
BSYNC_ENV_FILE=/srv/onlymen/appview/bsync.env
POSTGRES_ENV_FILE=/srv/onlymen/appview/postgres.env
APPVIEW_DATA_DIR=/srv/onlymen/appview/data
CADDY_NETWORK=caddy
